<nav class="navbar navbar-expand-lg bg-white border-bottom sticky-top">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/">Recipe Keeper</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="nav" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto gap-2">
        <li class="nav-item"><a class="nav-link" href="/foods">My Recipes</a></li>
        <li class="nav-item"><a class="btn btn-primary" href="/foods/new">+ New Recipe</a></li>
        <li class="nav-item"><a class="nav-link" href="/auth/sign-out">Sign Out</a></li>
      </ul>
    </div>
  </div>
</nav>
