

body {
  font-family: Arial, sans-serif;
  background: beige;
  color: olive;
  display: flex;
  justify-content: center;
  margin-right: 100px;
  margin-top: 200px;
  
}


.center-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  display: flex;

}


.box {
  background:olive;
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  text-align: center;
  display: flex;
  justify-content: center;

}


button {
  background: black;
  color: black;
  border: none;
  padding: 15px 30px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;

}


button {
    background: olive;
     display: flex;
    justify-content: center;
    margin-top: 20px;
}





a {
  color: black;
  text-decoration: none;
  padding: 20px, 20px;
}


.containerHeader {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.containerBody {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}